.Service {
    position: absolute;
    width: 500px;
    height: 450px;
    left: 400px;
    top: 150px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: linear-gradient(113.96deg, #213F36 0%, rgba(33, 63, 54, 0.2) 100%);
    border-radius: 16px;
}

.Service h1 {
    color: #D2FFCB;
    font-size: 50px;
    padding: 10px;
}

.Service p{
    padding: 20px;
}