
* {
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.App ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  
}

.App li{
  padding: 10px;
 
}
